$brain-blue: rgb(43, 149, 253);
$dark-blue: #263239;
$grey: rgb(229, 229, 229);
$light-grey: #FAFAFA;
$light-text: #FFFFFF;
$white: #FFFFFF;
$dark-text: #2e3b4e; 

.dashboard {
	background-color: $light-grey;
	color: $dark-text;
	font-family: "Roboto",Arial,"Helvetica Neue",Helvetica,sans-serif;
	font-weight: 300;
	min-height: 100vh;
}

.navbar {
	border-radius:0px;
	background-color: #FAFAFA;
	&__title{
		// color:white;
		margin:10px 0;
	}
}

.sideBar {
	width: 200px;
	background-color: $dark-blue;
	color: $light-grey;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	padding: 20px;
	h2 {
		margin-top: 0;
		font-size: 24px;
		font-weight: 400;
	}
	&__list{
		list-style-type: none;
		padding: 0;
		font-size:20px;
		font-weight: 300;
		text-align:left;
		&__item{
			margin: 5px 0;
			padding-left: 5px;
			&:hover{
				color: $white;
				cursor:pointer;
			}
			&__active{
				color: $white;
				font-weight: 400;
				border-left: 4px solid $brain-blue;
				padding-left: 10px;
			}
		}

	}
}

.mainContainer {
	margin-left: 200px;
	padding: 20px;
	max-width: 1200px;
}

.ticketModal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.4);
	&.hiddenModal{
		display:none;
	}
	i {
		position: fixed;
		top: 20px;
		right: 20px;
		font-size: 24px;
		color: $grey;
		&:hover{
			cursor: pointer;
			color: $white;
		}
	}
	.modalContent{
		background-color: $white;
		border-radius: 4px;
		width: 500px;
		margin: 55px auto;
		overflow: hidden;
		table{
			border-top: 1px solid $grey;
		}
	}
}

/*styling to make properly scrollable table*/
section {
	position: relative;
	border: 1px solid $grey;
	padding-top: 35px;
	background: $light-grey;
	color: #000;
} 
.tableContainer {
	overflow-y: auto;
	max-height: 430px;
	border-top: $grey solid 1px;
	tr:hover {
		cursor: pointer;
		background-color: $light-grey;
	}
}
table {
	border-spacing: 0;
	width:100%;
	tr {
		background-color: $white;
	}
	td + td {
		border-left:1px solid $grey;
	}
	td, th {
		border-bottom:1px solid $grey;
		padding: 10px 25px;
	}
	th {
		height: 0;
		line-height: 0;
		padding-top: 0;
		padding-bottom: 0;
		color: transparent;
		border: none;
		white-space: nowrap;
		& div{
			position: absolute;
			background: transparent;
			padding: 9px 25px;
			top: 0;
			margin-left: -25px;
			line-height: normal;
			border-left: 1px solid $grey;
			color: $dark-text;
			text-transform: uppercase;
		}
		&:first-child div{
			border: none;
		}
	}
}